#container {
    margin:0 auto;  /* 화면 중앙에 배치 */
    width:80%;    /* 너비 */
    background-color: #fff;
}

/* 헤더 */
#fragment-header {
    margin:0 auto;  /* 화면 중앙에 배치 */
    width: 80%;
}

/* 본문 */

.contents {
    width:1000px;
    margin:50px auto;
}
main > section {
    margin-top:60px;
}
main h2 {
    font-size:1.5em;
    line-height: 2.5;
}
main div {
    margin-top:20px;
}
main h3 {
    font-size:1.2em;
    line-height:2.2;
}
.detail p {
    line-height: 2.0;
    color:#222;
}
.detail > img {
    float:left;
    margin-right:50px;
    border-radius:20px;
}
.schedule h4 {
    font-size:1.2em;
}
.schedule ul {
    list-style: none;
}
.schedule ul li {
    line-height: 2;
}


