#container {
    margin:0 auto;  /* 화면 중앙에 배치 */
    width:80%;    /* 너비 */
    background-color: #fff;
}

/* 메인 영역 */

main {
    margin:0 auto;  /* 화면 중앙에 배치 */
    background-color:#ffffff;
}

main img {
    width: 100px;
    height: 100px;
    border-radius:20px;
    margin-top: 20px;
}

main h2 {
    font-size:1.5em;
    line-height: 2.5;
}

main div {
    margin-top:5px;
}

.detail p {
    line-height: 2.0;
    color:#222;
}